{#
  #}

{% import 'macros/form.html' as form %}

<form class="form comment-form" id="main-form">
  {{ h.csrf_input() }}
  <fieldset>
    <legend>{{ _('Leave a comment') }}</legend>
    {{ form.textarea('content', id='comment-content', label=_('Content')) }}
  </fieldset>
  {% if not g.user %}
  <input type="hidden" name="author_email" id="author_email">
  <input type="hidden" name="guest_user" id="guest_user">
  {% endif %}
  <div class="form-group control-full">
    <button type="submit" {% if not g.user %} style="display: none!important;" {% endif %} class="btn btn-primary">
      {{ _('Save') }}
    </button>
    <button type="button" {% if g.user %} style="display: none!important;" {% endif %} class="btn btn-primary" id="save-button">
      {{ _('Save') }}
    </button>
  </div>
</form>

<!-- Das Modal für die E-Mail-Eingabe -->
<div class="modal fade" id="emailModal" tabindex="-1" role="dialog" aria-labelledby="emailModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="emailModalLabel">E-Mail eingeben</h5>
      </div>
      <div class="modal-body">
        <form id="email-form">
          <div class="form-group">
            <label for="author_id">Autor Name</label>
            <input type="text" class="form-control" id="guestuser" placeholder="username" required>
          </div>
          <div class="form-group">
            <label for="author_email">Autor E-Mail</label>
            <input type="email" class="form-control" id="authoremail" placeholder="name@example.com" required>
          </div>
        </form>
        <p class="modal-comment-warning">Kommentare können im Nachgang nicht bearbeitet werden. {% if h.comments_enable_require_approval() %}Die Veröffentlichung erfolgt nach einer Überprüfung.{% endif %}</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary close" data-dismiss="modal">Abbrechen</button>
        <button type="button" class="btn btn-primary comments-confirm-email" id="confirm-email">Bestätigen</button>
      </div>
    </div>
  </div>
</div>

<!-- PIN-Modal -->
<div class="modal fade" id="pinModal" tabindex="-1" role="dialog" aria-labelledby="pinModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="pinModalLabel">Bestätigungscode eingeben</h5>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <label for="pin-input">Bitte geben Sie den Bestätigungscode ein, den Sie per E-Mail erhalten haben</label>
          <input type="text" class="form-control" id="pin-input" maxlength="6" placeholder="123456" required>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary close" data-dismiss="modal">Abbrechen</button>
        <button type="button" class="btn btn-primary" id="confirm-pin">Bestätigen</button>
      </div>
    </div>
  </div>
</div>


<!-- Modal für die PIN-Eingabe (Replies) -->
<div class="modal fade" id="replyPinModal" tabindex="-1" role="dialog" aria-labelledby="replyPinModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="replyPinModalLabel">PIN eingeben</h5>
      </div>
      <div class="modal-body">
        <form id="reply-pin-form">
          <div class="form-group">
            <label for="reply-pin-input">Bestätigungscode</label>
            <input type="text" class="form-control" id="reply-pin-input" placeholder="6-stelliger Code" required>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Abbrechen</button>
        <button type="button" class="btn btn-primary" id="confirm-reply-pin">Bestätigen</button>
      </div>
    </div>
  </div>
</div>