    
    {% set thread = h.comments_thread_for(subject_id, subject_type) %}
    
    {% asset 'comments/comments-thread-auth' %}
    {% asset 'comments/comments-thread-styles' %}
    
    <div data-module="comments-thread-auth" data-module-subject-id="{{ thread.subject_id }}" data-module-subject-type="{{ thread.subject_type }}">
        {% if comment %}
            <ul class="list-unstyled comments-thread">
                    {% if comment['state'] == status %}
                        <li class="comments-comment">
                          {% snippet 'comments/snippets/mobidata_comment.html', comment=comment %}
                        </li>
                    {% endif %}
              </ul>
        {% endif %}
    </div>